.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/facebook/build
.idea/encodings.xml
.idea/scopes/scope_settings.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
AddCrumbActivityTest/AddCrumbActivityTest.iml
Breadcrumbs492.iml
app/app.iml
facebook/facebook.iml
testingcrumb/testingcrumb.iml
